* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #131111;
}

.main {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    border: 3px solid #424347;
    border-radius: 10px;
}

.header {
    background-color: #424347;
    border-radius: 10px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-profile-logo {
    width: 380px;
    height: 507px;
}

.section-profile-logo:hover {
    transform: rotate(0.2);
}

.page-title {
    text-transform: uppercase;
}

/* .left-side {
    background-color: #90929b;
} */

.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: rgb(214, 177, 10);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -10px;
    width: calc(100% - 24px);
    height: 5px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}

.nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: calc(100% - 24px);
    }
}

.main {
    margin-bottom: auto;
}

.main-title,
p {
    text-align: center;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #121312;
    border: 1px solid rgb(214, 177, 10);
}

.right-side {
    padding: 0px;
    background: url("assets/pattern.png");
}

.right-side .section {
    padding: 10px;
}

.left-side {
    padding: 10px;
}

.right-side .section-title {
    background-color: rgb(214, 177, 10);
    opacity: 0.8;
}

.right-side .section-title:hover {
    background-color: rgb(255, 255, 255);
}

.left-side .section-title {
    background-color: rgb(143, 141, 131);
    color: rgb(32, 30, 21);
    ;
    opacity: 0.8;
}

.skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 60px 20px 60px;
    color: white;
    background-color: #424347;
    border-radius: 10px;
}

.footer-github {
    position: relative;
    padding-left: 40px;
    color: rgb(214, 177, 10);
}

.footer-github::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background-image: url("../img/github-logo.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-year {
    justify-self: center;
}

.footer-rsschool {
    justify-self: end;
    height: 32px;
}